.btn {
	$shadowState: 0 5px 14px transparentize(map-get($colors, primary), 0.75);
	display: inline-block;
	padding: 1.6rem 5rem;
	border-radius: 20px;
	color: map-get($colors, supportLight1);
	background: linear-gradient(
		266.57deg, 
		map-get($colors, primaryDark),
		map-get($colors, primary)
	);
	/*
		state mixin = first argument

		Keys names defined in "durations" map, inside on "$transitions" map.
	*/
	/*
		state mixin = second argument

		Map containing states (other maps) called "default", "hover" and "active". Add one or more properties to these inner maps with whatever value you want for the respective state.

		The keys / properties defined in "default" are the same properties that will be added to the transitions specified in the map "$transitions".
	*/
	@include state("button", (
		default: (
			opacity: 1,
			box-shadow: initial
		),
		hover: (
			opacity: 0.75,
			box-shadow: $shadowState
		),
		active: (
			opacity: 0.45,
			box-shadow: $shadowState
		)
	));

	@include breakpoint(sm) {
		border-radius: 15px;
		padding: 1.4rem 3.5rem;
	}
}