// responsive
@mixin breakpoint($size) {
    @media (
		#{map-get($mediaQuery, property)}:
		#{
			map-get(map-get($mediaQuery, sizes), $size) + 
			map-get($mediaQuery, unit)
		}
	) {
        @content;
    }
}
@mixin desktop {
    @media not all and (hover: none) {
        @content;
    }
}

// transitions and states
@mixin transition($type, $properties...) {
	$transition: map-get($transitions, $type);
    transition-property: $properties;

	@each $property, $value in $transition {
		transition-#{$property}: $value;
	}
}
@mixin state($element, $states) {
    $propertiesMap: map-get($states, default);
    @include transition($element, map-keys($propertiesMap));

    @each $state, $properties in $states {
        @each $property, $value in $properties {
            @if $state == default {
                #{$property}: $value;
            } @else if $state == hover {
                @include desktop {
                    &:hover {
                        #{$property}: $value;
                    }
                }
            } @else if $state == active {
                &:active {
                    #{$property}: $value;
                }
            }
        }
    }
}
@mixin stateSVG($element, $states, $property) {
    @each $state, $value in $states {
        @if $state == default {
            path {
                #{$property}: $value;
                @include transition($element, $property);
            }
        } @else if $state == hover {
            @include desktop {
                &:hover path {
                    #{$property}: $value;
                }
            }
        } @else if $state == active {
            &:active path {
                #{$property}: $value;
            }
        }
    }
}

// general
@mixin center {
    margin-left: auto;
    margin-right: auto;
}