// responsive
$mediaQuery: (
    property: max-width,
    unit: px,
    sizes: (
        sm: 575.98,
        md: 767.98,
        lg: 991.98,
        xl: 1199.98,
        xxl: 1399.98,
    ),
);

// rfs config
$rfs-rem-value: 10;
$rfs-factor: 5;
$rfs-breakpoint: map-get(map-get($mediaQuery, sizes), xl);

// UI
$grid: (
    containerDefault: 1320px,
    containerXxl: 1140px,
    containerXl: 960px,
    containerLg: 720px,
    containerMd: 540px,
    gutter: 30px,
);
$fontSizes: (
    h1: 7.8rem,
    body: 1.8rem,
);
$accentColors: (
    primary: #00b2ff,
    secondary: #ffdd35,
    success: #01cc88,
    warning: #ffc107,
    danger: #dc3545,
);
$variationsColors: (
    primaryLight: lighten(map-get($accentColors, primary), 22%),
    primaryDark: darken(map-get($accentColors, primary), 12%),
    supportLight1: #fff,
    supportLight2: #e9f0f4,
    supportDark1: #000,
    supportDark2: #171717,
    supportDark3: #171823,
);

// general
$transitions: (
    global: (
        duration: 300ms,
        timing-function: ease-in-out,
    ),
    button: (
        duration: 200ms,
        timing-function: ease-in-out,
    ),
);
