// responsive
$mediaQuery: (
    property: max-width,
    unit: px,
    sizes: (
        sm: 575.98,
        md: 767.98,
        lg: 991.98,
        xl: 1199.98,
        xxl: 1399.98
    )
);

$rfs-rem-value: 10;
$rfs-factor: 5;
$rfs-breakpoint: map-get(map-get($mediaQuery, sizes), xl);

$grid: (
    containerDefault: 1320px,
    containerXxl: 1140px,
    containerXl: 960px,
    containerLg: 720px,
    containerMd: 540px,
    gutter: 30px
);

$fontSizes: (
    h1: 5.2rem,
    h2: 4.2rem,
    body: 1.8rem
);

$colors: (
    primary: #00F,
    supportDark1: #000,
    supportLight1: #FFF,
    success: #01CC88,
    warning: #FFC107,
    danger: #DC3545
);

$transitions: (
    globalDuration: 300ms,
    buttonDuration: 200ms,
    timingFunction: ease-in-out
);