body {
	background: linear-gradient(
		247.12deg, 
		map-get($colors, supportDark3) -0.29%, 
		map-get($colors, supportDark2) 100%) 
		map-get($colors, supportDark2
	);
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.app {
	text-align: center;
	padding: 3rem calc(map-get($grid, gutter) / 2);

	&__react {
		@include margin-bottom(5rem);

		a {
			display: block;
			padding: 1.2rem;
			animation: logoSpin infinite 25s linear;

			@include state("button", (
				default: (opacity: 1),
				hover: (opacity: 0.65),
				active: (opacity: 0.45)
			));
		}
		svg {
			max-width: 100%;
			display: block;
			width: 250px;
			height: auto;
			@include center;

			@include breakpoint(sm) {
				width: 180px;
			}
		}
	}
	&__title {
		@include margin-bottom(10rem);
	}
}

@keyframes logoSpin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg)
	}
}