.container {
    max-width: map-get($grid, containerDefault);
    padding-left: map-get($grid, gutter) / 2;
    padding-right: map-get($grid, gutter) / 2;
    margin-left: auto;
    margin-right: auto;

    @include respBKP(xxl) {
        max-width: map-get($grid, containerXxl);
    }
    @include respBKP(xl) {
        max-width: map-get($grid, containerXl);
    }
    @include respBKP(lg) {
        max-width: map-get($grid, containerLg);
    }
    @include respBKP(md) {
        max-width: map-get($grid, containerMd);
    }
    @include respBKP(sm) {
        max-width: 100%;
    }
}