.container {
    max-width: grid("containerDefault");
    padding-left: calc(grid("gutter") / 2);
    padding-right: calc(grid("gutter") / 2);
    @include center;

    @include breakpoint(xxl) {
        max-width: grid("containerXxl");
    }
    @include breakpoint(xl) {
        max-width: grid("containerXl");
    }
    @include breakpoint(lg) {
        max-width: grid("containerLg");
    }
    @include breakpoint(md) {
        max-width: grid("containerMd");
    }
    @include breakpoint(sm) {
        max-width: 100%;
    }
}
