.container {
    max-width: map-get($grid, containerDefault);
    padding-left: calc(map-get($grid, gutter) / 2);
    padding-right: calc(map-get($grid, gutter) / 2);
    @include center;

    @include breakpoint(xxl) {
        max-width: map-get($grid, containerXxl);
    }
    @include breakpoint(xl) {
        max-width: map-get($grid, containerXl);
    }
    @include breakpoint(lg) {
        max-width: map-get($grid, containerLg);
    }
    @include breakpoint(md) {
        max-width: map-get($grid, containerMd);
    }
    @include breakpoint(sm) {
        max-width: 100%;
    }
}
